{% assign id = section.id %}

<style>
    #shopify-section-{{id}} #change_password.active .view:not(.active){
        display: none;
    }
    #shopify-section-{{id}} #change_password .view{
        background-color: white;
    }
    #shopify-section-{{id}} #change_password input[type="email"] {
        border: 1px solid black;
        border-radius: 3px;
    }
</style>

<div id="change_password" class="account_tab flex col">
    <div class="view flex col active spacing-m">
        {% form 'recover_customer_password' %}
            <input type="hidden" name="return_to" value="/account#change_password">
            {{ form.errors | default_errors }}
            <div class="flex col spacing-bottom-m">
                <label for="email" class="label">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" value="{{customer.email}}" size="30" name="email" id="recover-email" class="large" autocorrect="off" autocapitalize="off" />
            </div>
            <div class="flex row">
                <label for="reset_password_submit" class="flex row btn btn--secondary">{{ 'customer.recover_password.submit' | t }}</label>
                <input id="reset_password_submit" onclick="resetEmailSend()" class="hidden" type="submit" />
            </div>
        {% endform %}
    </div>
</div>

<script>
    function resetEmailSend(){
        window.alert('Password recovery email was send to you');
    }
</script>