<div class="heading_object text-align-{{object.settings.text_align}} spacing-top-{{object.settings.spacing_top}} spacing-bottom-{{object.settings.spacing_bottom}}">
    <{{object.settings.tag}} class="{{object.settings.class}} {{object.settings.weight_class}}">{{object.settings.title}}</{{object.settings.tag}}>
</div>

<style>
    #shopify-section-{{object.id}} .heading_object{
    color: {{object.settings.text-color}};
}
</style>