<div class = "rightSideContact">
    <div class = "rightTextBlocks spacing-left-m spacing-right-m">
        <{{object.settings.tag_right_heading}} class = "rightHeading {{object.settings.class_right_heading}} {{object.settings.weight_class_right_heading}} spacing-top-s spacing-bottom-{{object.settings.spacing_bottom_right_heading}}">{{object.settings.right_heading}}</{{object.settings.tag_right_heading}} >
        <div class = "rightElementWrapper spacing-bottom-m">
            <{{object.settings.tag_right_text}} class = "{{object.settings.class_right_text}} {{object.settings.weight_class_right_text}} spacing-bottom-{{object.settings.spacing_bottom_right_text}}">{{object.settings.right_call_us_title}}</{{object.settings.tag_right_text}}>
            <a href="{{object.settings.right_call_us_link}}">{{object.settings.right_call_us_text}}</a>
        </div>
        <div class = "rightElementWrapper spacing-bottom-m">
            <{{object.settings.tag_right_text}} class = "{{object.settings.class_right_text}} {{object.settings.weight_class_right_text}} spacing-bottom-{{object.settings.spacing_bottom_right_text}}">{{object.settings.right_whatsapp_title}}</{{object.settings.tag_right_text}}>
            <a href="{{object.settings.right_whatsapp_link}}">{{object.settings.right_whatsapp_text}}</a>
        </div>
        <div class = "rightElementWrapper spacing-bottom-l">
            <{{object.settings.tag_right_text}} class = "{{object.settings.class_right_text}} {{object.settings.weight_class_right_text}} spacing-bottom-{{object.settings.spacing_bottom_right_text}}">{{object.settings.right_address_title}}</{{object.settings.tag_right_text}}>
            {{object.settings.right_address_text}}
        </div>
        <div class = "rightElementWrapper">
            <{{object.settings.tag_right_text}} class = "{{object.settings.class_right_text}} {{object.settings.weight_class_right_text}} spacing-bottom-{{object.settings.spacing_bottom_right_text}}">{{object.settings.right_follow_title}}</{{object.settings.tag_right_text}}>
            <div class="container-social spacing-top-xs spacing-bottom-xs" >
                {%- render 'social_media' -%}
            </div>
        </div>
    </div>
</div>
<style>
    #shopify-section-{{object.id}} .rightSideContact {
        flex: 0 1 30%;
        border: 1px solid #a6a6a6;
       height: 83%;
       margin-left: 10%;
       margin-right: 25%;
       margin-bottom: 20%;
      }
      #shopify-section-{{object.id}} .rightSideContact .rightElementWrapper a{
          text-decoration: underline;
      }
      #shopify-section-{{object.id}} .rightSideContact .rightElementWrapper .container-social a{
          text-decoration: none;
      }

     
    @media (max-width: {{settings.breakpoint_medium}}px) {

    #shopify-section-{{object.id}} .rightSideContact {
        border: none;
        margin-top: 30px;
        padding: 0;
        margin-left: 0px;
        margin-right: 30%;
        margin-bottom: 0px;
    }
    #shopify-section-{{object.id}} .spacing-left-m {
        padding-left: 0px;
    }
    }
</style>