{% assign id = section.id %}

<style>
  #shopify-section-{{id}} .tab_toggle{
      width: 10px;
      height: 10px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      transform-origin: center;
      transform: translate(-50%, 60%) rotate(45deg);
      transition: 0.3s transform ease;
  }
  #shopify-section-{{id}} .tab_content{
      height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      transition: 0.3s opacity ease;
  }
  #shopify-section-{{id}} .tab_title{
      cursor: pointer;
  }
  #shopify-section-{{id}} .tab_title Tab{
      font-weight: normal;
  }
  #shopify-section-{{id}} .active .tab_toggle{
      transform: translate(-50%, 120%) rotate(225deg);
  }
  #shopify-section-{{id}} .active .tab_content{
      display: flex;
      opacity: 1;
      height: unset;
      padding: 16px 0;
  }
  #shopify-section-{{id}} .active .tab_title Tab{
      font-weight: bold;
  }
  #shopify-section-{{id}} .product_tabs ul{
      margin-left: 20px;
  }
  #shopify-section-{{id}} .product_tabs ul li{
      list-style-type: disc;
  }
</style>
{%- comment -%}
  Old functionality
  ___________________________________
  <div class="flex col product_tabs">
      {% for tab in product.metafields['product'].tabs %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %} {%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
              <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between"><Tab>{{tab.title}}</Tab><div class="tab_toggle"></div></div>
              <div class="tab_content flex col">{{tab.html}}</div>
          </div>
      {% endfor %}
  </div>
{%- endcomment -%}
<div class="flex col product_tabs">
    {% assign tab_count = product.metafields.product.tabs | size %}
  {% for tab in product.metafields.product.tabs %}
    {%- case tab.title -%}
      {%- when 'Produktdetails' -%}
        {%- comment -%}Product description{%- endcomment -%}
        {% if product.metafields.product.description_overwrite.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.description' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ product.metafields.product.description_overwrite.value }}</div>
          </div>
        {% elsif product.metafields.product.description_default.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.description' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">
              {{ pages[product.metafields.product.description_default.value.handle].content }}
            </div>
          </div>
        {% elsif tab.html != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %} {%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.description' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ tab.html }}</div>
          </div>
        {% endif %}
      {%- when 'Anwendung' -%}
        {%- comment -%}How to Use{%- endcomment -%}
        {% if product.metafields.product.usage_overwrite.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.how-to' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ product.metafields.product.usage_overwrite.value }}</div>
          </div>
        {% elsif product.metafields.product.usage_default.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.how-to' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">
              {{ pages[product.metafields.product.usage_default.value.handle].content }}
            </div>
          </div>
        {% elsif tab.html != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %} {%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.how-to' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ tab.html }}</div>
          </div>
        {% endif %}
      {%- when 'Inhaltsstoffe' -%}
        {%- comment -%}Ingredients{%- endcomment -%}
        {% if product.metafields.product.ingredients_overwrite.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.ingredients' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ product.metafields.product.ingredients_overwrite.value }}</div>
          </div>
        {% elsif product.metafields.product.ingredients_default.value != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %}{%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.ingredients' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">
              {{ pages[product.metafields.product.ingredients_default.value.handle].content }}
            </div>
          </div>
        {% elsif tab.html != blank %}
          <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %} {%if forloop.first and template.suffix == "product_new" %}active{% endif %}">
            <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
              <Tab>{{ 'products.tabs.ingredients' | t }}</Tab>
              <div class="tab_toggle"></div>
            </div>
            <div class="tab_content flex col">{{ tab.html }}</div>
          </div>
        {% endif %}
      {%- else -%}
        {%- comment -%}Other{%- endcomment -%}
        <div class="tab-{{forloop.index0}} {% unless forloop.last %}spacing-bottom-l{% endunless %} {% if forloop.first and template.suffix == "product_new" %}active{% endif %}">
          <div onclick="openTab(Number('{{forloop.index0}}'))" class="tab_title flex row between">
            <Tab>{{ tab.title }}</Tab>
            <div class="tab_toggle"></div>
          </div>
          <div class="tab_content flex col">{{ tab.html }}</div>
        </div>
    {%- endcase -%}
  {% endfor %}
   {% if product.metafields.product.tab_4_title.value != blank %}
    <div class="tab-{{ tab_count | plus: 1 }} spacing-top-l ">
      <div onclick="openTab(Number('{{ tab_count | plus: 1 }}'))" class="tab_title flex row between">
        <Tab>{{ product.metafields.product.tab_4_title.value }}</Tab>
        <div class="tab_toggle"></div>
      </div>
      <div class="tab_content flex col">{{ product.metafields.product.tab_4_content.value }}</div>
    </div>
  {% endif %}
  {% if product.metafields.product.tab_5_title.value != blank %}
    <div class="tab-{{ tab_count | plus: 2 }} spacing-top-l">
      <div onclick="openTab(Number('{{ tab_count | plus: 2 }}'))" class="tab_title flex row between">
        <Tab>{{ product.metafields.product.tab_5_title.value }}</Tab>
        <div class="tab_toggle"></div>
      </div>
      <div class="tab_content flex col">{{ product.metafields.product.tab_5_content.value }}</div>
    </div>
  {% endif %}
</div>

<script>
  function openTab(index) {
    let tab = document.querySelector('#shopify-section-{{id}} .product_tabs .tab-' + index).classList.toggle('active');
  }
  openTab(0);
</script>
