<style>
    #shopify-section-{{section.id}} {
        overflow: hidden;
    }
    #shopify-section-{{section.id}},
    #shopify-section-{{section.id}} clever-slider.overhanging_slider::before{
        background-color:{{section.settings.background_color}};
    }

    @media only screen and (max-width:{{settings.breakpoint_small}}px){
        #shopify-section-{{section.id}} .small_items-custom cs-slide{
            flex: 0 0 80%;
        }
    }
</style>

<div class="page-width spacing-top-{{section.settings.spacing_top}} spacing-bottom-{{section.settings.spacing_bottom}}">
    <div class="flex col left">
        <{{section.settings.heading_tag}} class="{{section.settings.heading_class}} {{section.settings.heading_weight_class}} spacing-bottom-xs"> {{section.settings.heading}} </{{section.settings.heading_tag}}>
        <{{section.settings.richtext_tag}} class="{{section.settings.richtext_class}} {{section.settings.richtext_weight_class}} spacing-bottom-s"> {{section.settings.richtext}} </{{section.settings.richtext_tag}}>
    </div>
    <clever-slider class="overhanging_slider"
        options-large="{'align':'start','containScroll':'trimSnaps'}"   >
        <cs-prev class="slider_nav slider_prev is-absolute only_large">
            {% render 'icon', icon: 'chevron-left' %}
        </cs-prev>
        <cs-track>
            {% capture sizes %}{% render 'image_sizes', small:2, medium_up:3, page_width: true %}{% endcapture %}
            <cs-slides class="items-3 medium_items-2 small_items-custom gap">
            {% for block in section.blocks %}
                    <cs-slide>
                  	{% if block.settings.link != blank %}<a href="{{block.settings.link}}">{% endif %}
                    	{% render 'image_element', image: block.settings.image, image_shape: section.settings.image_shape, fit: section.settings.image_fit, sizes:sizes %}
                  	{% if block.settings.link != blank %}</a>{%endif%}
                    </cs-slide>
            {% endfor %}
            </cs-slides>
        </cs-track>
        <cs-next class="slider_nav slider_next is-absolute only_large">
            {% render 'icon', icon: 'chevron-right' %}
        </cs-next>
    </clever-slider>
</div>