<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ request.locale.iso_code }}><!--<![endif]-->
<head>
  <meta charset="utf-8" />

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% include 'site-social-meta' %}

  <link rel="preload" as="style" href="{{ 'style.scss.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'jquery.min.js' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'bundle.min.js' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'shop.js' | asset_url }}">



  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <!-- SCRIPTS -->
  <!-- 
    Modernizr.min.js && Respond.min.js are in this bundle 
    this is a compressed and minified version by a grunt uglify
  -->
  <script src="{{ 'bundle.min.js'  | asset_url}}" defer></script>
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
  {% if template contains 'customers' %}
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {% endif %}
  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
  <script>window.lazySizesConfig = window.lazySizesConfig || {};</script>
  <!-- 
    lazysize,handlebars,valencia are in this bundle 
    this is a compressed and minified version by a grunt uglify
  -->
  <script src="{{ 'application.min.js' | asset_url }}" async></script>

  {{ content_for_header }}

  <title>{{ shop.name }}</title>


  {% include 'shogun-head' %}
</head>

{% capture body_class %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} image-hover-light cta-fill-{{settings.cta_button_style}}{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }}">
  
  {{ content_for_layout }}
  
  <script src="{{ 'shop.js' | asset_url }}"></script>
</body>
</html>
