<style>
    #shopify-section-{{section.id}} .payment_block{
        border-style:solid;
        border-color: #E8E8E8;
    }
    #shopify-section-{{section.id}} .payment_block{
        width:78px;
    }
</style>

<div class="page-width section-spacing">
        <div class="flex row between">
            {% for block in section.blocks %}
                {% if forloop.index == 1%}
                    <style>
                        #shopify-section-{{section.id}} .payment_block-{{block.id}}{
                            border: 0px;
                        }
                    </style>
                {% endif %}
                {% if block.settings.payment_icon_SVG != blank %}
                    <div class="payment_block-{{block.id}} payment_block flex row middle center">
                        {{block.settings.payment_icon_SVG}}
                    </div>     
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

 {% schema %}
{
    "name": "Payments",
    "settings": [],
    "blocks": [
        {
            "type": "payment_icons",
            "name":"Payment icons",
            "settings": [
            {
                "type": "html",
                "id": "payment_icon_SVG",
                "label": "SVG"
            },
            {
                "type": "text",
                "id": "payment_title",
                "label": "Payment title"
            }
            ]
        }
    ],
    "presets": [
        {
        "name": "Payments",
        "category":  "Payments"
        }
    ]
}
{% endschema %}