{%- style %}
    #shopify-section-{{section.id}} {
        overflow: hidden;
    }
    #shopify-section-{{section.id}},
    #shopify-section-{{section.id}} clever-slider.overhanging_slider::before{
        background-color:{{section.settings.background_color}};
    }

    @media only screen and (max-width:{{settings.breakpoint_small}}px){
        #shopify-section-{{section.id}} .small_items-custom cs-slide{
            flex: 0 0 80%;
        }
    }
{%- endstyle -%}

{% for i in (1..6) %}
            
    {% capture image_id %}image_{{i}}{% endcapture %}
    {% capture url_id %}url_{{i}}{% endcapture %}
    {% capture heading_id %}heading_{{i}}{% endcapture %}
    {% capture text_id %}text_{{i}}{% endcapture %}


    {% if section.settings[heading_id] == blank %}
        {% if section.settings[text_id] == blank %}
            {% if section.settings[image_id] == blank %}
                {% capture _ %}{% increment zeroblocks %}{% endcapture %}
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% if forloop.last %}
        {% if zeroblocks > 1 %}
            {% assign gridcolumns = 2 %}
        {% endif %}
    {% endif %}

{% endfor %}
    
{% if section.blocks.size != 0 %}
<div class=" page-width overhanging_slider_page-width spacing-top-l spacing-bottom-l">


  <div class="spacing-top-{{section.settings.spacing_top}} spacing-bottom-{{section.settings.spacing_bottom}}">
    <div class="flex col left">
        <{{section.settings.heading_tag}} class="{{section.settings.heading_class}} {{section.settings.heading_weight_class}} spacing-bottom-xs"> {{section.settings.heading}} </{{section.settings.heading_tag}}>
        <{{section.settings.richtext_tag}} class="{{section.settings.richtext_class}} {{section.settings.richtext_weight_class}} spacing-bottom-s"> {{section.settings.richtext}} </{{section.settings.richtext_tag}}>
    </div>
    <clever-slider class="overhanging_slider only_medium-down"
        options-large="{'align':'start','containScroll':'trimSnaps'}"   >
        <cs-prev class="slider_nav slider_prev is-absolute only_large">
            {% render 'icon', icon: 'chevron-left' %}
        </cs-prev>
        <cs-track>
            <cs-slides class="items-3 medium_items-2 small_items-custom gap">
            {% for i in (1..6) %}
            
            {% capture image_id %}image_{{i}}{% endcapture %}
            {% capture url_id %}url_{{i}}{% endcapture %}
            {% capture heading_id %}heading_{{i}}{% endcapture %}
            {% capture text_id %}text_{{i}}{% endcapture %}
                    {% unless section.settings[heading_id] == blank and section.settings[text_id] == blank and section.settings[image_id] == blank %}
                        <cs-slide>
                    <div class="content_container" style="background-color: white; height: 100%;">
                        {% unless section.settings.no_image %}
                        <div class="upper_part spacing-m">
                            <div class="image flex col center middle">
                                {% if section.settings[heading_id] %}
                                {% if section.settings[url_id] != blank %}
                                    <a href="{{ section.settings[url_id] }}">
                                {% endif %}
                                    {% capture picture %}{%render 'image_croper', image: section.settings[image_id], shape: section.settings.image_shape, crop_position: section.settings.image_focal_point%}{% endcapture %}
                                    <img class="image" src="{{picture}}" style="width: 100%; object-fit: {{section.settings.image_fit}};">
                                {% else %}
                                    {% render 'image_element' %}  
                                {% endif %}
                                {% if section.settings[url_id] != blank %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endunless %}
                        <div class="bottom-part spacing-left-m spacing-right-m spacing-bottom-m {% if section.settings.no_image %}spacing-m{% endif %}">
                            {% if section.settings[heading_id] != blank %}
                            <{{section.settings.block_heading_tag}} class="{{section.settings.block_heading_class}} {{section.settings.block_heading_weight_class}} spacing-bottom-{{section.settings.block_heading_spacing_bottom}} text-align-{{section.settings.text_align}}">{{ section.settings[heading_id] | escape }}</{{section.settings.block_heading_tag}}>
                            {% endif %}
                            {% if section.settings[text_id] != blank %}
                            <{{section.settings.block_text_tag}} class="{{section.settings.block_text_class}} {{section.settings.block_text_weight_class}} spacing-bottom-{{section.settings.block_text_spacing_bottom}} text-align-{{section.settings.text_align}}">{{ section.settings[text_id] | remove: '<p>' | remove: '</p>' }}</{{section.settings.block_text_tag}}>
                            {% endif %}
                        </div>
                    
                    </div>
                        </cs-slide>
                    {% endunless %}
            {% endfor %}
            </cs-slides>
        </cs-track>
        <cs-next class="slider_nav slider_next is-absolute only_large">
            {% render 'icon', icon: 'chevron-right' %}
        </cs-next>
    </clever-slider>

    <div class="only_large">
        
        <div class="grid {% if gridcolumns == 2 %}col-4{% else %}col-3{% endif %} row-gap col-gap">
            {% for i in (1..6) %}
                
            {% capture image_id %}image_{{i}}{% endcapture %}
            {% capture url_id %}url_{{i}}{% endcapture %}
            {% capture heading_id %}heading_{{i}}{% endcapture %}
            {% capture text_id %}text_{{i}}{% endcapture %}
                    


            {% if section.settings[heading_id] == blank %}
                {% if section.settings[text_id] == blank %}
                    {% if section.settings[image_id] == blank %}
                        {% continue %}
                    {% endif %}
                {% endif %}
            {% endif %}



                    <div class="content_container grid-item " style="background-color: white;">
                        {% unless section.settings.no_image %}
                        <div class="upper_part spacing-m">
                            <div class="image flex col center middle">
                                {% if section.settings[url_id] != blank %}
                                <a href="{{ section.settings[url_id] }}">
                                {% endif %}
                                {% if section.settings[image_id] != blank %}
                                    {% capture picture %}{%render 'image_croper', image: section.settings[image_id], shape: section.settings.image_shape, crop_position: section.settings.image_focal_point%}{% endcapture %}
                                    <img class="image" src="{{picture}}" style="width: 100%; object-fit: {{section.settings.image_fit}};">
                                {% else %}
                                {% render 'image_element' %}  
                                {% endif %}
                                {% if section.settings[url_id] != blank %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endunless %}
                        <div class="bottom-part spacing-left-m spacing-right-m {% if section.settings.no_image %}spacing-m{% endif %}">
                            {% if section.settings[heading_id] != blank %}
                                <{{section.settings.block_heading_tag}} class="{{section.settings.block_heading_class}} {{section.settings.block_heading_weight_class}} spacing-bottom-{{section.settings.block_heading_spacing_bottom}} text-align-{{section.settings.text_align}}">{{ section.settings[heading_id] | escape }}</{{section.settings.block_heading_tag}}>
                            {% endif %}
                            {% if section.settings[text_id] != blank %}
                                <{{section.settings.block_text_tag}} class="{{section.settings.block_text_class}} {{section.settings.block_text_weight_class}} spacing-bottom-{{section.settings.block_text_spacing_bottom}} text-align-{{section.settings.text_align}}">{{ section.settings[text_id] | remove: '<p>' | remove: '</p>' }}</{{section.settings.block_text_tag}}>
                            {% endif %}
                        </div>
                    
                    </div>
                    
               
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endif %}

{% schema %}
{
    "name": "Info Slider",
    "settings": [
    {
        "type": "checkbox",
        "id": "no_image",
        "label": "Show only the texts",
        "default": false
    },
    {
        "type": "paragraph",
        "content": "Use at least 5 blocks for best responsivity."
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "background",
        "default": "#F3F3F3"
    },
    {
        "type": "header",
        "content": "Layout"
    },
    {
        "type": "select",
        "id": "spacing_top",
        "label": "Spacing top",
        "options": [
            {
                "value": "xs",
                "label": "xs"
            },
            {
                "value": "s",
                "label": "s"
            },
            {
                "value": "m",
                "label": "m"
            },
            {
                "value": "l",
                "label": "l"
            },
            {
                "value": "xl",
                "label": "xl"
            },
            {
                "value": "xxl",
                "label": "xxl"
            }
        ]
    },
    {
        "type": "select",
        "id": "spacing_bottom",
        "label": "Spacing bottom",
        "options": [
            {
                "value": "xs",
                "label": "xs"
            },
            {
                "value": "s",
                "label": "s"
            },
            {
                "value": "m",
                "label": "m"
            },
            {
                "value": "l",
                "label": "l"
            },
            {
                "value": "xl",
                "label": "xl"
            },
            {
                "value": "xxl",
                "label": "xxl"
            }
        ]
    },
    {
        "type": "header",
        "content": "Heading"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "On the Gram"
    },
    {
        "type": "select",
        "id": "heading_tag",
        "label": "Html tag",
        "default": "p",
        "options": [
            {
                "value": "h1",
                "label": "h1"
            },
            {
                "value": "h2",
                "label": "h2"
            },
            {
                "value": "h3",
                "label": "h3"
            },
            {
                "value": "h4",
                "label": "h4"
            },
            {
                "value": "h5",
                "label": "h5"
            },
            {
                "value": "h6",
                "label": "h6"
            },
            {
                "value": "p",
                "label": "p"
            },
            {
                "value": "small",
                "label": "small"
            }
        ]
    },
    {
        "type": "select",
        "id": "heading_class",
        "label": "Font class",
        "options": [
            {
                "value": "h1",
                "label": "h1"
            },
            {
                "value": "h2",
                "label": "h2"
            },
            {
                "value": "h3",
                "label": "h3"
            },
            {
                "value": "h4",
                "label": "h4"
            },
            {
                "value": "h5",
                "label": "h5"
            },
            {
                "value": "h6",
                "label": "h6"
            },
            {
                "value": "p",
                "label": "p"
            },
            {
                "value": "note",
                "label": "note"
            }
        ]
    },
    {
        "type": "select",
        "id": "heading_weight_class",
        "label": "Weight class",
        "options": [
            {
                "value": "bold",
                "label": "bold"
            },
            {
                "value": "",
                "label": "normal"
            }
        ]
    },
    {
        "type": "textarea",
        "id": "richtext",
        "label": "Richtext",
        "default": "Mention @gitti in your photo and we will feature the best pictures on our site"
    },
    {
        "type": "select",
        "id": "richtext_tag",
        "label": "Html tag",
        "default": "p",
        "options": [
            {
                "value": "h1",
                "label": "h1"
            },
            {
                "value": "h2",
                "label": "h2"
            },
            {
                "value": "h3",
                "label": "h3"
            },
            {
                "value": "h4",
                "label": "h4"
            },
            {
                "value": "h5",
                "label": "h5"
            },
            {
                "value": "h6",
                "label": "h6"
            },
            {
                "value": "p",
                "label": "p"
            },
            {
                "value": "small",
                "label": "small"
            }
        ]
    },
    {
        "type": "select",
        "id": "richtext_class",
        "label": "Font class",
        "options": [
            {
                "value": "h1",
                "label": "h1"
            },
            {
                "value": "h2",
                "label": "h2"
            },
            {
                "value": "h3",
                "label": "h3"
            },
            {
                "value": "h4",
                "label": "h4"
            },
            {
                "value": "h5",
                "label": "h5"
            },
            {
                "value": "h6",
                "label": "h6"
            },
            {
                "value": "p",
                "label": "p"
            },
            {
                "value": "note",
                "label": "note"
            }
        ]
    },
    {
        "type": "select",
        "id": "richtext_weight_class",
        "label": "Weight class",
        "options": [
            {
                "value": "bold",
                "label": "bold"
            },
            {
                "value": "",
                "label": "normal"
            }
        ]
    },
    
            {
                "type": "header",
                "content": "Block heading settings"
            },
            {
                "type": "select",
                "id": "block_heading_spacing_bottom",
                "label": "Spacing bottom",
                "default": "xs",
                "options": [
                    {
                        "value": "xs",
                        "label": "xs"
                    },
                    {
                        "value": "s",
                        "label": "s"
                    },
                    {
                        "value": "m",
                        "label": "m"
                    },
                    {
                        "value": "l",
                        "label": "l"
                    },
                    {
                        "value": "xl",
                        "label": "xl"
                    },
                    {
                        "value": "xxl",
                        "label": "xxl"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_heading_tag",
                "label": "Html tag",
                "default": "p",
                "options": [
                    {
                        "value": "h1",
                        "label": "h1"
                    },
                    {
                        "value": "h2",
                        "label": "h2"
                    },
                    {
                        "value": "h3",
                        "label": "h3"
                    },
                    {
                        "value": "h4",
                        "label": "h4"
                    },
                    {
                        "value": "h5",
                        "label": "h5"
                    },
                    {
                        "value": "h6",
                        "label": "h6"
                    },
                    {
                        "value": "p",
                        "label": "p"
                    },
                    {
                        "value": "small",
                        "label": "small"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_heading_class",
                "label": "Font class",
                "default": "h2",
                "options": [
                    {
                        "value": "h1",
                        "label": "h1"
                    },
                    {
                        "value": "h2",
                        "label": "h2"
                    },
                    {
                        "value": "h3",
                        "label": "h3"
                    },
                    {
                        "value": "h4",
                        "label": "h4"
                    },
                    {
                        "value": "h5",
                        "label": "h5"
                    },
                    {
                        "value": "h6",
                        "label": "h6"
                    },
                    {
                        "value": "p",
                        "label": "p"
                    },
                    {
                        "value": "note",
                        "label": "note"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_heading_weight_class",
                "label": "Weight class",
                "default": "bold",
                "options": [
                    {
                        "value": "bold",
                        "label": "bold"
                    },
                    {
                        "value": "",
                        "label": "normal"
                    }
                ]
              },
              {
                "type": "header",
                "content": "Block text settings"
            },
            {
                "type": "select",
                "id": "block_text_spacing_bottom",
                "label": "Spacing bottom",
                "default": "xs",
                "options": [
                    {
                        "value": "xs",
                        "label": "xs"
                    },
                    {
                        "value": "s",
                        "label": "s"
                    },
                    {
                        "value": "m",
                        "label": "m"
                    },
                    {
                        "value": "l",
                        "label": "l"
                    },
                    {
                        "value": "xl",
                        "label": "xl"
                    },
                    {
                        "value": "xxl",
                        "label": "xxl"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_text_tag",
                "label": "Html tag",
                "default": "p",
                "options": [
                    {
                        "value": "h1",
                        "label": "h1"
                    },
                    {
                        "value": "h2",
                        "label": "h2"
                    },
                    {
                        "value": "h3",
                        "label": "h3"
                    },
                    {
                        "value": "h4",
                        "label": "h4"
                    },
                    {
                        "value": "h5",
                        "label": "h5"
                    },
                    {
                        "value": "h6",
                        "label": "h6"
                    },
                    {
                        "value": "p",
                        "label": "p"
                    },
                    {
                        "value": "small",
                        "label": "small"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_text_class",
                "label": "Font class",
                "default": "h4",
                "options": [
                    {
                        "value": "h1",
                        "label": "h1"
                    },
                    {
                        "value": "h2",
                        "label": "h2"
                    },
                    {
                        "value": "h3",
                        "label": "h3"
                    },
                    {
                        "value": "h4",
                        "label": "h4"
                    },
                    {
                        "value": "h5",
                        "label": "h5"
                    },
                    {
                        "value": "h6",
                        "label": "h6"
                    },
                    {
                        "value": "p",
                        "label": "p"
                    },
                    {
                        "value": "note",
                        "label": "note"
                    }
                ]
              },
              {
                "type": "select",
                "id": "block_text_weight_class",
                "label": "Weight class",
                "default": "",
                "options": [
                    {
                        "value": "bold",
                        "label": "bold"
                    },
                    {
                        "value": "",
                        "label": "normal"
                    }
                ]
              },
            {
                "type": "header",
                "content": "Block Image settings"
            },
    {
        "type":      "select",
        "id":        "image_shape",
        "label":     "Image shape",
        "options": [
          {
            "value": "",
            "label": "Original"
          },
          {
            "value": "square",
            "label": "Square"
          },
          {
            "value": "four_by_three",
            "label": "2:3"
          },
          {
            "value": "sixteen_by_nine",
            "label": "16:9"
          }
        ],
        "default":   "square"
      },
      {
        "type":      "select",
        "id":        "image_fit",
        "label":     "Image fit",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          }
          ,
          {
            "value": "contain",
            "label": "contain"
          }
        ],
        "default":   "contain"
      },
      {
        "type":      "select",
        "id":        "image_focal_point",
        "label":     "Image focal point",
        "options": [
          {
            "value": "",
            "label": "center"
          },
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          },
          {
            "value": "top",
            "label": "top"
          },
          {
            "value": "bottom",
            "label": "bottom"
          }
        ],
        "default":   ""
      },
      {
          "type": "header",
          "content": "Content of blocks"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
    {
        "type": "url",
        "id": "url_1",
        "label": "Image URL 1"
    },
    {
        "type": "text",
        "id": "heading_1",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text 1",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
    },
    {
        "type": "url",
        "id": "url_2",
        "label": "Image URL 2"
    },
    {
        "type": "text",
        "id": "heading_2",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Text 2",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
    },
    {
        "type": "url",
        "id": "url_3",
        "label": "Image URL 3"
    },
    {
        "type": "text",
        "id": "heading_3",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "Text 3",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    },
    {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image 4"
    },
    {
        "type": "url",
        "id": "url_4",
        "label": "Image URL 4"
    },
    {
        "type": "text",
        "id": "heading_4",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_4",
        "label": "Text 4",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    },
    {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image 5"
    },
    {
        "type": "url",
        "id": "url_5",
        "label": "Image URL 5"
    },
    {
        "type": "text",
        "id": "heading_5",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_5",
        "label": "Text 5",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    },
    {
        "type": "image_picker",
        "id": "image_6",
        "label": "Image 6"
    },
    {
        "type": "url",
        "id": "url_6",
        "label": "Image URL 6"
    },
    {
        "type": "text",
        "id": "heading_6",
        "label": "Heading",
        "default": "Veniam enim mollit amet ut mollit."
    },
      {
        "type": "richtext",
        "id": "text_6",
        "label": "Text 6",
        "default": "<p>Qui consectetur consequat adipisicing labore officia mollit anim culpa labore anim fugiat occaecat proident deserunt. Fugiat sunt laboris voluptate quis. Nisi aliquip fugiat fugiat velit.</p>"
    }
    
    ],
    "presets": [
       {
           "name": "Info Slider"
       }
    ]
}
{% endschema %}