
<style>
    #shopify-section-{{section.id}}{
      background-color:{{section.settings.background_color}};
    }

    @media (min-width: {{settings.breakpoint_small | plus: 1 }}px) {
    .dislocated {
        margin-top: 200px;
    }
}
  </style>
  {% capture sizes %}{% render 'image_sizes', small:1, medium_up:2 , page_width: true %}{% endcapture %}
  <div class="page-width section-spacing" data-section-type="editor"
  data-section-id="{{ section.id }}">
      <div class="grid col-2 col-gap small_col-1 small_row-gap spacing-top-{{section.settings.spacing_top}} spacing-bottom-{{section.settings.spacing_bottom}} ">
          {% for block in section.blocks %}
           {% if block.type == 'image' %}
                <div class="grid-item {% if section.settings.mobile_layout_revert and forloop.first %}small_row-start-2{% endif %} {% if section.settings.dislocated and forloop.first %} dislocated{% endif %}">
                    {% render 'image_element',  image: block.settings.image, fit: block.settings.image_fit, image_shape: block.settings.image_shape, sizes:sizes %}  
                </div>
            {% endif %}
            {% if block.type == 'text'%}
                <div class="grid-item flex col {{block.settings.text_align}} {{block.settings.vertical_align}} {% if section.settings.mobile_layout_revert and forloop.first %}small_row-start-2{% endif %} {% if section.settings.dislocated and forloop.first %} dislocated{% endif %}">
                    {% if block.settings.heading != blank %}
                        <{{block.settings.heading_tag}} class="text-align-{{block.settings.text_align}} {{block.settings.heading_class}} {{block.settings.heading_weight_class}} spacing-bottom-{{block.settings.heading_spacing_bottom}} animation on-load fade-in" animation-delay="100">{{ block.settings.heading | escape }}</{{block.settings.heading_tag}}>
                    {% endif %}
                    {% if block.settings.richtext != blank %}
                        <{{block.settings.richtext_tag}} class="text-align-{{block.settings.text_align}} {{block.settings.richtext_class}} {{block.settings.richtext_weight_class}} {% if block.settings.button_label != blank and block.settings.button_link != blank and forloop.first %}{% if block.settings.richtext_splitted == blank %} spacing-bottom-{{block.settings.richtext_spacing_bottom}}{% else %}{%endif%}{% endif %} animation on-load fade-in" animation-delay="200">{{ block.settings.richtext }}</{{block.settings.richtext_tag}}>
                        {% if block.settings.richtext_splitted != blank %}
                        <{{block.settings.richtext_tag}} class="text-align-{{block.settings.text_align}} only_medium-up {{block.settings.richtext_class}} {{block.settings.richtext_weight_class}} {% if block.settings.button_label != blank and block.settings.button_link != blank %}spacing-bottom-{{block.settings.richtext_spacing_bottom}}{% endif %} animation on-load fade-in" animation-delay="200">{{ block.settings.richtext_splitted  | remove: '<p>' | remove: '</p>' }}</{{block.settings.richtext_tag}}>
                        {% endif %}
                    {% endif %}
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                        <a href="{{block.settings.button_link}}" class="{{block.settings.button_class}} animation on-load fade-in" animation-delay="200">{{block.settings.button_label}}</a>
                    {% endif %}
                </div>
                {% if block.settings.richtext_splitted != blank %}
                    <div class="grid-item small_row-start-3 only_small">
                            <{{block.settings.richtext_tag}} class="text-align-{{block.settings.text_align}} {{block.settings.richtext_class}} {{block.settings.richtext_weight_class}} {% if block.settings.button_label != blank and block.settings.button_link != blank %}spacing-bottom-{{block.settings.richtext_spacing_bottom}}{% endif %} animation on-load fade-in" animation-delay="200">{{ block.settings.richtext_splitted  | remove: '<p>' | remove: '</p>' }}</{{block.settings.richtext_tag}}>
                    </div>
                {% endif %}
            {% endif %}
            {% endfor %}
      </div>
    </div>
    
    {% schema %}
    {
      "name": "Image with text (blocks)",
      "max_blocks": 2,
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "spacing_top",
          "label": "Spacing top",
          "default": "",
          "options": [
                {
                 "value": "",
                 "label": "no spacing"   
                },
              {
                  "value": "xs",
                  "label": "xs"
              },
              {
                  "value": "s",
                  "label": "s"
              },
              {
                  "value": "m",
                  "label": "m"
              },
              {
                  "value": "l",
                  "label": "l"
              },
              {
                  "value": "xl",
                  "label": "xl"
              },
              {
                  "value": "xxl",
                  "label": "xxl"
              }
          ]
      },
      {
          "type": "select",
          "id": "spacing_bottom",
          "label": "Spacing bottom",
          "default": "",
          "options": [
          {
            "value": "",
            "label": "no spacing"   
           },
              {
                  "value": "xs",
                  "label": "xs"
              },
              {
                  "value": "s",
                  "label": "s"
              },
              {
                  "value": "m",
                  "label": "m"
              },
              {
                  "value": "l",
                  "label": "l"
              },
              {
                  "value": "xl",
                  "label": "xl"
              },
              {
                  "value": "xxl",
                  "label": "xxl"
              }
          ]
      },
      {
          "type": "checkbox",
          "id": "mobile_layout_revert",
          "label": "Revert layout on moblile",
          "default": false
      },
      {
        "type": "checkbox",
        "id": "dislocated",
        "label": "Dislocate first block",
        "default": false
    }
      ],
      "blocks": [
      {
      "type": "image",
        "name": "Image",
        "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":      "select",
          "id":        "image_shape",
          "label":     "Image shape",
          "options": [
            {
              "value": "",
              "label": "Original"
            },
            {
              "value": "square",
              "label": "Square"
            }
            ,
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "four_by_three",
              "label": "4:3"
            },
            {
              "value": "four_by_five",
              "label": "4:5"
            }
            ,
            {
              "value": "sixteen_by_nine",
              "label": "16:9"
            }
          ],
          "default":   "square"
        },
        {
          "type":      "select",
          "id":        "image_fit",
          "label":     "Image fit",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            }
            ,
            {
              "value": "contain",
              "label": "contain"
            }
          ],
          "default":   "contain"
        }
        ]
        },
        {
        "type": "text",
        "name": "Text",
        "settings": [
        {
          "type": "header",
          "content": "Text Layout"
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
             { "value": "left", "label": "left"},
             { "value": "center", "label": "center"},
             { "value": "right", "label": "right"}
          ],
          "label": "Text align"
        },
        {
          "type": "select",
          "id": "vertical_align",
          "options": [
             { "value": "top", "label": "top"},
             { "value": "middle", "label": "middle"},
             { "value": "bottom", "label": "bottom"},
             { "value": "between", "label": "between"},
             { "value": "around", "label": "around"},
             { "value": "evenly", "label": "evenly"}
          ],
          "label": "Vertical align",
          "default": "middle"
        },
        {
          "type": "header",
          "content": "Text Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Veniam enim mollit amet ut mollit."
        },
        {
          "type": "select",
          "id": "heading_spacing_bottom",
          "label": "Spacing bottom",
          "default": "xs",
          "options": [
              {
                  "value": "xs",
                  "label": "xs"
              },
              {
                  "value": "s",
                  "label": "s"
              },
              {
                  "value": "m",
                  "label": "m"
              },
              {
                  "value": "l",
                  "label": "l"
              },
              {
                  "value": "xl",
                  "label": "xl"
              },
              {
                  "value": "xxl",
                  "label": "xxl"
              }
          ]
      },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Html tag",
          "default": "p",
          "options": [
              {
                  "value": "h1",
                  "label": "h1"
              },
              {
                  "value": "h2",
                  "label": "h2"
              },
              {
                  "value": "h3",
                  "label": "h3"
              },
              {
                  "value": "h4",
                  "label": "h4"
              },
              {
                  "value": "h5",
                  "label": "h5"
              },
              {
                  "value": "h6",
                  "label": "h6"
              },
              {
                  "value": "p",
                  "label": "p"
              },
              {
                  "value": "small",
                  "label": "small"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_class",
          "label": "Font class",
          "default": "h1",
          "options": [
              {
                  "value": "h1",
                  "label": "h1"
              },
              {
                  "value": "h2",
                  "label": "h2"
              },
              {
                  "value": "h3",
                  "label": "h3"
              },
              {
                  "value": "h4",
                  "label": "h4"
              },
              {
                  "value": "h5",
                  "label": "h5"
              },
              {
                  "value": "h6",
                  "label": "h6"
              },
              {
                  "value": "p",
                  "label": "p"
              },
              {
                  "value": "note",
                  "label": "note"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_weight_class",
          "label": "Weight class",
          "default": "bold",
          "options": [
              {
                  "value": "bold",
                  "label": "bold"
              },
              {
                  "value": "",
                  "label": "normal"
              }
          ]
      },
      {
        "type": "header",
        "content": "Text"
      },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text"
        },
        {
            "type": "richtext",
            "id": "richtext_splitted",
            "label": "Text part split for mobile"
        },
        {
          "type": "select",
          "id": "richtext_spacing_bottom",
          "label": "Spacing bottom",
          "default": "s",
          "options": [
              {
                  "value": "xs",
                  "label": "xs"
              },
              {
                  "value": "s",
                  "label": "s"
              },
              {
                  "value": "m",
                  "label": "m"
              },
              {
                  "value": "l",
                  "label": "l"
              },
              {
                  "value": "xl",
                  "label": "xl"
              },
              {
                  "value": "xxl",
                  "label": "xxl"
              }
          ]
      },
        {
          "type": "select",
          "id": "richtext_tag",
          "label": "Html tag",
          "default": "p",
          "options": [
              {
                  "value": "h1",
                  "label": "h1"
              },
              {
                  "value": "h2",
                  "label": "h2"
              },
              {
                  "value": "h3",
                  "label": "h3"
              },
              {
                  "value": "h4",
                  "label": "h4"
              },
              {
                  "value": "h5",
                  "label": "h5"
              },
              {
                  "value": "h6",
                  "label": "h6"
              },
              {
                  "value": "p",
                  "label": "p"
              },
              {
                  "value": "small",
                  "label": "small"
              }
          ]
      },
      {
          "type": "select",
          "id": "richtext_class",
          "label": "Font class",
          "default": "p",
          "options": [
              {
                  "value": "h1",
                  "label": "h1"
              },
              {
                  "value": "h2",
                  "label": "h2"
              },
              {
                  "value": "h3",
                  "label": "h3"
              },
              {
                  "value": "h4",
                  "label": "h4"
              },
              {
                  "value": "h5",
                  "label": "h5"
              },
              {
                  "value": "h6",
                  "label": "h6"
              },
              {
                  "value": "p",
                  "label": "p"
              },
              {
                  "value": "note",
                  "label": "note"
              }
          ]
      },
      {
          "type": "select",
          "id": "richtext_weight_class",
          "label": "Weight class",
          "default": "",
          "options": [
              {
                  "value": "bold",
                  "label": "bold"
              },
              {
                  "value": "",
                  "label": "normal"
              }
          ]
      },
      {
        "type": "header",
        "content": "Button"
      },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_class",
          "label": "Button class",
          "default": "btn--tertiary",
          "placeholder": "btn--primary"
      }
      ]
    }
      ],
      "presets": [
        {
          "name": "Image with text as blocks",
          "category":  "Image"
        }
      ]
    }
    {% endschema %}
    